header{
    background-color: var(--surface-color);
    height: 60px;
    position: sticky;
    top: 0px;
}

nav {
    height: 100%;
    width: 80%;
}

.nav-link{
    height: 100%;
}

.nav-link a {
    color: var(--primary-color);
    font-size: 1rem;
    text-transform: uppercase;
    margin: 2%;
    padding: 1% 2%;
}

.nav-link a:hover{
    border-bottom:solid 2px var(--primary-color);
}

/*Hamburger button*/

.nav-btn span{
    display: block;
    width: 30px;
    height: 3px;
    background-color: var(--primary-color);
    margin: 6px auto;
}

#nav-check, .nav-btn{
    display: none;
}

.logo-container a h2{
    color: var(--primary-color);
}

.center-header-sections {
    display: flex;
    justify-content: center;
}
