/*Tablet View */
@media(max-width:1007px){
    html{
        font-size: 12px;
    }

    /* About Me Section */
    .about-section{
        flex-direction: column;
        margin-top: 4rem;
    }

    .about-image-container {
        width: 70%;
    }

    .about-description-container{
        width: 85%;
        margin-top: 3rem;
    }

    /* Skills Section */
    .skills-list{
        width:70%
    }
}

/* Phone */
@media screen and (max-width:767px){
    html {
        font-size: 10px;
    }
    label{
        cursor: pointer;
    }
    header{
        height: max-content;
        padding: 2%;
    }
    .nav-link{
        flex-direction: column;
        gap: 1rem;
    }
    .post-list .card{
        width: 80%;
        margin-left: 32px;
    }
    .post-list .header-list h1{
        text-align: left;
        margin-left: 32px;
              
    }
    .home-flex{
        flex-direction: column;
    }
    .img-thumbnail{
        width: 75%
    }
    .home h1{
        margin-right: 70px;
        font-size: 3rem;
    }
    .home-img2{
        width: 60%
    }

    
    /* Toggle function */
    .nav-btn {
        display: inline-flex;
    }
    #nav-check:not(:checked)~.nav-link {
        height: 0px;    
        overflow: hidden;    
    }
        
    #nav-check:checked~.nav-link {
        height: auto;    
        overflow: auto;    
    }

    .logo-container a h2{
        display: none;
    }

}


