/* About Me Section */

.about{
    padding-top: 30px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.about h4{
    color: yellow;
    margin-bottom: 0;
    margin-top: 12px;
}
.about img{
    width: 80%;
}

.about h1{
    color: purple;
}
/* Skills Section */

.skills-section {
    padding: 2%;
}

.skills-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    width: 50%;
    margin: 2rem 0px;
}

/* News Section */

.news-section{
    background-color: black;
}

.news-card img{
    width: 100%;
    border-radius: 1%;
}

.news-card{
    width: 25rem;
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
    border-radius: 1%;
    background-color: silver;
}

.news-card:hover{
    opacity: 0.5;
    border: 1px solid var(--secondary-color);
}

.skills-container{
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0.5 rem;
    margin-top: 0.5rem;
}

a p:nth-child(2), .experience-card p:nth-child(1){
    font-weight: bolder;
    font-size: 1.1rem;
    margin: 0.5rem 0px;
}

a p:nth-child(3), .experience-card p:nth-child(2){
    font-style: italic;
}

a p:nth-child(4), .experience-card p:nth-child(4){
    font-style: italic;
    font-weight: bolder;
    letter-spacing: 0.2rem;
    margin-top: 0.5rem;
}

.news-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 4rem;
    margin-top: 2rem;
   
}

.news-h2{
    text-align: center;
}

.add-news-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    
}

.new-news-section{
    background-color: var(--surface-color);
    padding: .5rem;
    margin: 50px;
    display: flex;
    flex-direction: column;
    margin-left: 75px;
    margin-right: 75px;
   
    
}
.controls{
    width: 23%;
    margin-top: .2rem;  
}



/* Contact Section*/

.contact-section{
    padding-top: 1rem;
    /*background-color: black;*/
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqCUIaVgLdFG9_ueTugpsGh0M1ehDpg3qxzg&s);
    width: 100%;
}
.contact-section h1, h2{
    color: var(--surface-color);
}
.contact-section form{
    padding-top: 1.5rem;
    background-color: var(--surface-color);
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    padding: 20px 30px 10px 20px;
    margin-top: 2rem;


}

.contact-section .field{
    margin-bottom: 0.5rem;
    width: 100%;

}

.contact-section .field label {
    display: block;
    color: var(--primary-color);
}

.contact-section .field input,
.contact-section .field textarea {
    width: 100%;
    padding: 5px;
}

/*Post-list Section*/


.post-list{
    background-color: black;


}
.post-list .card-body img{
    max-width: 100%;
}

.post-list .header-list {
    display: flex;
    text-align: center;
    
}

.post-list .header-list h1{
    flex: 1;
    text-align: center;
    color: var(--primary-color);
    
}

.post-list .header-list a {
    margin-right: 2rem;
    
}
.post-list .card{
    width: 18rem; 
    margin-top: 15px;
}

.search-label{
    color: var(--secondary-color);
}

.card-link{
    color: var(--secondary-color);
}
.detail-container{
    background-color: black;
}
.detail-container h1{
    color: var(--primary-color);
}
.detail-text{
    color: var(--secondary-color);
}
 .detail-text p {
    color: var(--secondary-color);
 }
/*create-post section*/

.create-post{
    padding: 2rem 1rem;
    background-color: black;

}

.create-post h2 {
    text-align: center;
    color: var(--primary-color);
    font-size: xx-large;
}

.create-post form{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;

    border: 1px solid purple;
    border-radius: 4px;
    padding: 0.5rem;
    background-color: #f4f1f1;
}

.create-post form label{
    font-weight: bold;
}
/*button css*/

.button-42 {
  background-color: initial;
  background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: var(--neutral-color);
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
  height: 36px;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 45%;
  z-index: 9;
  border: 0;
  transition: box-shadow .2s;
}

.button-42:hover {
  box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}

/*Home section*/
.img-thumbnail{
    border: none;
    background-color: black;
}

.home-img{
    max-width: 75%;
}
.home-flex{
    display: flex;
    justify-content: space-between;
    
}

.home{
    padding: 20px 0 0 0;
    background-color: black;
   
}
.home-img{
    height: 200px;
    width: 100%;
}

.home h1{
    text-align: center;
    color: purple;
}

.bball-icon{
    color: #E62C03;
    padding-right: 10px;
}
.home-gameplan{
    width: 50%;
    font-size: 50px;
}

/*List section*/


/* Post comment section*/

.comments-container{
    margin-top: 1rem;

}
.comments-container h4{
    color: silver;
}
.comment{
    border: 1px solid gray;
    border-radius: 4px;
    margin-bottom: 12px;
    padding: 6px;
    max-width: 600px;
    background-color: var(--surface-color);

    
}
.comment p{
    color: var(--secondary-color);
}
 
.comment .author {
    font-weight: bold;
    font-family:var( --indie-font);
}

.comment .date{
    color: #555;
    text-align: right;
    display: block;
}

.comment form{
    text-align: right;
}
.comment form textarea{
    display: inline-block;
    width: 100%;
}

