{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Are+You+Serious&family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static './css/base.css'%}">
    <link rel="stylesheet" href="{% static './css/header.css'%}">
    <link rel="stylesheet" href="{% static './css/section.css'%}">
    <link rel="stylesheet" href="{% static './css/responsive.css'%}">
    <title>Document</title>
</head>
<body>
    <header class="center-row">
       
        <nav>
            <input type="checkbox" id="nav-check">

            <div class="nav-btn">
                <label for="nav-check">
                    <span></span>
                    <span></span>
                    <span></span>
                </label>
            </div>

            <div class="nav-link center-row">
                <a href="{% url 'about' %}">About Me</a>
                <a href="{% url 'home' %}">Home</a>
                <a href="#">Experience</a>
                <a href="#">Contact</a>
            </div>
        </nav>
            
        <div></div>

      

    </header>
    {% block content %}

    {% endblock content %}


</body>
</html>